body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: auto;
}

h1 {
    font-size: 36pt;
    margin-top: 0;
}

#mask {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#popup {
    position: absolute;
    background: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 50px;
    align-items: center;
    max-width: 300px;
}

#popup-text {
    font-size: 30pt;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.center {
    justify-content: center;
}

.buttons * {
    font-size: 24pt;
}
