body {
    margin: auto;
    max-width: 700px;
}

h1 {
    font-size: 36pt;
    margin-top: 0;
}

#mask {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#popup {
    align-items: center;
    background: white;
    border-radius: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    left: 50%;
    max-width: 300px;
    padding: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#popup-text {
    font-size: 30pt;
    text-align: center;
}

#popup input, #popup textarea {
    font-size: 12pt;
}

.horizontal *, .vertical *, .multi-column * {
    font-size: 24pt;
}

.horizontal {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.vertical {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.multi-column{
    align-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    max-height: 200px;
    width:100%;
}
