* {
    box-sizing: border-box;
    font-family: Amaranth, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    font-size: 20pt;
}

aside {
    background: lightgray;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#center {
    background: white;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.form-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.space {
    flex-grow: 1;
}

h1 {
    font-size: 36pt;
    margin: 0;
}

input, select, button {
    font-size: 20pt;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin: 5px;
}

button {
    background: green;
    color: white;
    border: none;
    border-radius: 10px;
}

button.danger {
    background: red;
}

#group-display table {
    text-align: center;
}

[contenteditable] {
    border: 1px solid transparent;
}

[contenteditable]:hover {
    border: 1px solid green;
}

#mask {
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#popup {
    align-items: center;
    background: white;
    border-radius: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    left: 50%;
    max-width: 300px;
    padding: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#popup-text {
    font-size: 30pt;
    text-align: center;
}

#popup input, #popup textarea {
    font-size: 12pt;
}
